*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Hereda la propiedad box-sizing: border-box del body; */
}
html {
    //defines what 1rem is
  font-size: 62.5%;
}
body {
    box-sizing: border-box;
  }